<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" th:href="@{/css/edit-user.css}">
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/users/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label>Name:</label> <input type="text" th:field="*{name}" /><br/>
    <label>Email:</label> <input type="email" th:field="*{email}" /><br/>
    <label>Password:</label> <input type="password" th:field="*{password}" /><br/>
    <button type="submit">Update</button>
</form>
<a th:href="@{/users}">Back to User List</a>
</body>
</html>
